*.[oa]
*~
*.obj
*.pro.user*
.tmp/*
VSProj/*
VSProj/*/*
VSProj/*/*/*
!VSProj/*.vcxproj
!VSProj/*.vcxproj.filters
!VSProj/*.def
!VSProj/*.cpp
!VSProj/*.h
.gitattributes
.DS_Store
.qmake.stash
#include/.private/*.h
#include/.private/*/*.h
